@model List<POEClaim.Models.Claim>

@{
    ViewData["Title"] = "Approved Claims";
}

<h2>Approved Claims</h2>

<table class="table table-striped">
    <thead class="table-dark text-center">
        <tr>
            <th style="width: 90px;">Claim ID</th>
            <th style="width: 140px;">Faculty</th>
            <th style="width: 140px;">Module</th>
            <th style="width: 80px;">Hours</th>
            <th style="width: 80px;">Rate</th>
            <th style="width: 100px;">Total</th>
            <th style="width: 160px;">Submission Date</th>
            <th style="width: 200px;">Lecturer Email</th>
            <th style="width: 100px;">Status</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.FacultyName</td>
                <td>@c.ModuleName</td>
                <td>@c.Hours</td>
                <td>@c.Rate</td>
                <td>@c.TotalAmount</td>
                <td>@c.SubmissionDate</td>
                <td>@c.Email</td>
                <td>@c.Status</td>
            </tr>
        }
    </tbody>
</table>
